In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas==2.0.3 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: matplotlib in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (3.8.3)
Requirement already satisfied: clickhouse_driver in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (0.2.7)
Requirement already satisfied: numpy in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (1.26.4)
Requirement already satisfied: requests in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (2.31.0)
Requirement already satisfied: beautifulsoup4 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from -r requirements.txt (line 6)) (4.12.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from pandas==2.0.3->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from pandas==2.0.3->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from pandas==2.0.3->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (24.0)
Requirement already satisfied: pillow>=8 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 2)) (3.1.2)
Requirement already satisfied: tzlocal in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from clickhouse_driver->-r requirements.txt (line 3)) (5.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from requests->-r requirements.txt (line 5)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from requests->-r requirements.txt (line 5)) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from requests->-r requirements.txt (line 5)) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from requests->-r requirements.txt (line 5)) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from beautifulsoup4->-r requirements.txt (line 6)) (2.5)
Requirement already satisfied: six>=1.5 in /Users/mershab/Code/Projects/CSI4142-Project/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas==2.0.3->-r requirements.txt (line 1)) (1.16.0)

In [2]:
import os
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import clickhouse_connect
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.width = None
pd.set_option('display.max_rows', 100)
pd.set_option('display.min_rows', 20)

In [3]:
# you can change config here)))
tickers = ["AAPL.US", "TSLA.US", "BAC.US", "MSFT.US", "GOOGL.US", "AMZN.US", "V.US", "JNJ.US", "WMT.US", "NVDA.US", "META.US", "XOM.US", "UNH.US", "KO.US", "MA.US", "NFLX.US", "DIS.US", "SBUX.US", ]  # 18

timeframe_in = "D1"  # timeframe for neural network training - input and we will trade on the same timeframe

CLICKHOUSE_CLOUD_HOSTNAME = 'csi4142-clickhouse.mershab.xyz'
CLICKHOUSE_CLOUD_USER = 'csi'
CLICKHOUSE_CLOUD_PASSWORD = 'iceberg'


TABLE_NAME = 'company_dimension_table_test'

In [4]:
# Initialize an empty set to store unique ticker names
ticker_names = set()

# Traverse the directory
for filename in os.listdir(f'../data/company_dimension/{timeframe_in}'):
    # Check if the file is a CSV file
    if filename.endswith('.csv'):
        # Extract the ticker name by splitting the filename
        # Assuming the format is <ticker_name>_<timeframe>.csv
        ticker_name = filename.split('_')[0]
        # Add the ticker name to the set
        ticker_names.add(ticker_name)

# Convert the set to a sorted list
ticker_names_list = sorted(list(ticker_names))
ticker_names_list

['A.US',
 'AAL.US',
 'AAPL.US',
 'ABBV.US',
 'ABNB.US',
 'ABT.US',
 'ACGL.US',
 'ACN.US',
 'ADBE.US',
 'ADI.US',
 'ADM.US',
 'ADP.US',
 'ADSK.US',
 'AEE.US',
 'AEP.US',
 'AES.US',
 'AFL.US',
 'AIG.US',
 'AIZ.US',
 'AJG.US',
 'AKAM.US',
 'ALB.US',
 'ALGN.US',
 'ALL.US',
 'ALLE.US',
 'AMAT.US',
 'AMCR.US',
 'AMD.US',
 'AME.US',
 'AMGN.US',
 'AMP.US',
 'AMT.US',
 'AMZN.US',
 'ANET.US',
 'ANSS.US',
 'AON.US',
 'AOS.US',
 'APA.US',
 'APD.US',
 'APH.US',
 'APTV.US',
 'ARE.US',
 'ASML.US',
 'ATO.US',
 'AVB.US',
 'AVGO.US',
 'AVY.US',
 'AWK.US',
 'AXON.US',
 'AXP.US',
 'AZN.US',
 'AZO.US',
 'BA.US',
 'BAC.US',
 'BALL.US',
 'BAX.US',
 'BBWI.US',
 'BBY.US',
 'BDX.US',
 'BEN.US',
 'BF.B.US',
 'BG.US',
 'BIIB.US',
 'BIO.US',
 'BK.US',
 'BKNG.US',
 'BKR.US',
 'BLDR.US',
 'BLK.US',
 'BMY.US',
 'BR.US',
 'BRK.B.US',
 'BRO.US',
 'BSX.US',
 'BWA.US',
 'BX.US',
 'BXP.US',
 'C.US',
 'CAG.US',
 'CAH.US',
 'CARR.US',
 'CAT.US',
 'CB.US',
 'CBOE.US',
 'CBRE.US',
 'CCEP.US',
 'CCI.US',
 'CCL.US',
 'CDAY.US',
 'CDNS.US',
 'CDW.US',
 'CE.US',
 'CEG.US',
 'CF.US',
 'CFG.US',
 'CHD.US',
 'CHRW.US',
 'CHTR.US',
 'CI.US',
 'CINF.US',
 'CL.US',
 'CLX.US',
 'CMA.US',
 'CMCSA.US',
 'CME.US',
 'CMG.US',
 'CMI.US',
 'CMS.US',
 'CNC.US',
 'CNP.US',
 'COF.US',
 'COO.US',
 'COP.US',
 'COR.US',
 'COST.US',
 'CPB.US',
 'CPRT.US',
 'CPT.US',
 'CRL.US',
 'CRM.US',
 'CRWD.US',
 'CSCO.US',
 'CSGP.US',
 'CSX.US',
 'CTAS.US',
 'CTLT.US',
 'CTRA.US',
 'CTSH.US',
 'CTVA.US',
 'CVS.US',
 'CVX.US',
 'CZR.US',
 'D.US',
 'DAL.US',
 'DASH.US',
 'DD.US',
 'DDOG.US',
 'DE.US',
 'DFS.US',
 'DG.US',
 'DGX.US',
 'DHI.US',
 'DHR.US',
 'DIS.US',
 'DLR.US',
 'DLTR.US',
 'DOV.US',
 'DOW.US',
 'DPZ.US',
 'DRI.US',
 'DTE.US',
 'DUK.US',
 'DVA.US',
 'DVN.US',
 'DXCM.US',
 'EA.US',
 'EBAY.US',
 'ECL.US',
 'ED.US',
 'EFX.US',
 'EG.US',
 'EIX.US',
 'EL.US',
 'ELV.US',
 'EMN.US',
 'EMR.US',
 'ENPH.US',
 'EOG.US',
 'EPAM.US',
 'EQIX.US',
 'EQR.US',
 'EQT.US',
 'ES.US',
 'ESS.US',
 'ETN.US',
 'ETR.US',
 'ETSY.US',
 'EVRG.US',
 'EW.US',
 'EXC.US',
 'EXPD.US',
 'EXPE.US',
 'EXR.US',
 'F.US',
 'FANG.US',
 'FAST.US',
 'FCX.US',
 'FDS.US',
 'FDX.US',
 'FE.US',
 'FFIV.US',
 'FI.US',
 'FICO.US',
 'FIS.US',
 'FITB.US',
 'FLT.US',
 'FMC.US',
 'FOX.US',
 'FOXA.US',
 'FRT.US',
 'FSLR.US',
 'FTNT.US',
 'FTV.US',
 'GD.US',
 'GE.US',
 'GEHC.US',
 'GEN.US',
 'GFS.US',
 'GILD.US',
 'GIS.US',
 'GL.US',
 'GLW.US',
 'GM.US',
 'GNRC.US',
 'GOOG.US',
 'GOOGL.US',
 'GPC.US',
 'GPN.US',
 'GRMN.US',
 'GS.US',
 'GWW.US',
 'HAL.US',
 'HAS.US',
 'HBAN.US',
 'HCA.US',
 'HD.US',
 'HES.US',
 'HIG.US',
 'HII.US',
 'HLT.US',
 'HOLX.US',
 'HON.US',
 'HPE.US',
 'HPQ.US',
 'HRL.US',
 'HSIC.US',
 'HST.US',
 'HSY.US',
 'HUBB.US',
 'HUM.US',
 'HWM.US',
 'IBM.US',
 'ICE.US',
 'IDXX.US',
 'IEX.US',
 'IFF.US',
 'ILMN.US',
 'INCY.US',
 'INTC.US',
 'INTU.US',
 'INVH.US',
 'IP.US',
 'IPG.US',
 'IQV.US',
 'IR.US',
 'IRM.US',
 'ISRG.US',
 'IT.US',
 'ITW.US',
 'IVZ.US',
 'J.US',
 'JBHT.US',
 'JBL.US',
 'JCI.US',
 'JKHY.US',
 'JNJ.US',
 'JNPR.US',
 'JPM.US',
 'K.US',
 'KDP.US',
 'KEY.US',
 'KEYS.US',
 'KHC.US',
 'KIM.US',
 'KLAC.US',
 'KMB.US',
 'KMI.US',
 'KMX.US',
 'KO.US',
 'KR.US',
 'KVUE.US',
 'L.US',
 'LDOS.US',
 'LEN.US',
 'LH.US',
 'LHX.US',
 'LIN.US',
 'LKQ.US',
 'LLY.US',
 'LMT.US',
 'LNT.US',
 'LOW.US',
 'LRCX.US',
 'LULU.US',
 'LUV.US',
 'LVS.US',
 'LW.US',
 'LYB.US',
 'LYV.US',
 'MA.US',
 'MAA.US',
 'MAR.US',
 'MAS.US',
 'MCD.US',
 'MCHP.US',
 'MCK.US',
 'MCO.US',
 'MDB.US',
 'MDLZ.US',
 'MDT.US',
 'MELI.US',
 'MET.US',
 'META.US',
 'MGM.US',
 'MHK.US',
 'MKC.US',
 'MKTX.US',
 'MLM.US',
 'MMC.US',
 'MMM.US',
 'MNST.US',
 'MO.US',
 'MOH.US',
 'MOS.US',
 'MPC.US',
 'MPWR.US',
 'MRK.US',
 'MRNA.US',
 'MRO.US',
 'MRVL.US',
 'MS.US',
 'MSCI.US',
 'MSFT.US',
 'MSI.US',
 'MTB.US',
 'MTCH.US',
 'MTD.US',
 'MU.US',
 'NCLH.US',
 'NDAQ.US',
 'NDSN.US',
 'NEE.US',
 'NEM.US',
 'NFLX.US',
 'NI.US',
 'NKE.US',
 'NOC.US',
 'NOW.US',
 'NRG.US',
 'NSC.US',
 'NTAP.US',
 'NTRS.US',
 'NUE.US',
 'NVDA.US',
 'NVR.US',
 'NWS.US',
 'NWSA.US',
 'NXPI.US',
 'O.US',
 'ODFL.US',
 'OKE.US',
 'OMC.US',
 'ON.US',
 'ORCL.US',
 'ORLY.US',
 'OTIS.US',
 'OXY.US',
 'PANW.US',
 'PARA.US',
 'PAYC.US',
 'PAYX.US',
 'PCAR.US',
 'PCG.US',
 'PDD.US',
 'PEAK.US',
 'PEG.US',
 'PEP.US',
 'PFE.US',
 'PFG.US',
 'PG.US',
 'PGR.US',
 'PH.US',
 'PHM.US',
 'PKG.US',
 'PLD.US',
 'PM.US',
 'PNC.US',
 'PNR.US',
 'PNW.US',
 'PODD.US',
 'POOL.US',
 'PPG.US',
 'PPL.US',
 'PRU.US',
 'PSA.US',
 'PSX.US',
 'PTC.US',
 'PWR.US',
 'PXD.US',
 'PYPL.US',
 'QCOM.US',
 'QRVO.US',
 'RCL.US',
 'REG.US',
 'REGN.US',
 'RF.US',
 'RHI.US',
 'RJF.US',
 'RL.US',
 'RMD.US',
 'ROK.US',
 'ROL.US',
 'ROP.US',
 'ROST.US',
 'RSG.US',
 'RTX.US',
 'RVTY.US',
 'SBAC.US',
 'SBUX.US',
 'SCHW.US',
 'SHW.US',
 'SIRI.US',
 'SJM.US',
 'SLB.US',
 'SNA.US',
 'SNPS.US',
 'SO.US',
 'SPG.US',
 'SPGI.US',
 'SPLK.US',
 'SRE.US',
 'STE.US',
 'STLD.US',
 'STT.US',
 'STX.US',
 'STZ.US',
 'SWK.US',
 'SWKS.US',
 'SYF.US',
 'SYK.US',
 'SYY.US',
 'T.US',
 'TAP.US',
 'TDG.US',
 'TDY.US',
 'TEAM.US',
 'TECH.US',
 'TEL.US',
 'TER.US',
 'TFC.US',
 'TFX.US',
 'TGT.US',
 'TJX.US',
 'TMO.US',
 'TMUS.US',
 'TPR.US',
 'TRGP.US',
 'TRMB.US',
 'TROW.US',
 'TRV.US',
 'TSCO.US',
 'TSLA.US',
 'TSN.US',
 'TT.US',
 'TTD.US',
 'TTWO.US',
 'TXN.US',
 'TXT.US',
 'TYL.US',
 'UAL.US',
 'UBER.US',
 'UDR.US',
 'UHS.US',
 'ULTA.US',
 'UNH.US',
 'UNP.US',
 'UPS.US',
 'URI.US',
 'USB.US',
 'V.US',
 'VFC.US',
 'VICI.US',
 'VLO.US',
 'VMC.US',
 'VRSK.US',
 'VRSN.US',
 'VRTX.US',
 'VTR.US',
 'VTRS.US',
 'VZ.US',
 'WAB.US',
 'WAT.US',
 'WBA.US',
 'WBD.US',
 'WDAY.US',
 'WDC.US',
 'WEC.US',
 'WELL.US',
 'WFC.US',
 'WHR.US',
 'WM.US',
 'WMB.US',
 'WMT.US',
 'WRB.US',
 'WRK.US',
 'WST.US',
 'WTW.US',
 'WY.US',
 'WYNN.US',
 'XEL.US',
 'XOM.US',
 'XRAY.US',
 'XYL.US',
 'YUM.US',
 'ZBH.US',
 'ZBRA.US',
 'ZION.US',
 'ZS.US',
 'ZTS.US']

In [5]:
# Do it for all shares
df_list = []
single_ticker_df = {}
for ticker in ticker_names_list:
    temp_df  = pd.DataFrame(pd.read_csv(f"../data/company_dimension/{timeframe_in}/{ticker}_{timeframe_in}.csv", parse_dates=['datetime']))
    temp_df['ticker'] = ticker.split('.US')[0]
    df_list.append(temp_df) 

df_list

[       datetime    open    high     low   close    volume ticker
 0    1999-11-18   45.56   50.00   40.37   42.44  28749500      A
 1    1999-11-19   42.94   43.00   39.82   40.69  10507800      A
 2    1999-11-22   41.31   43.13   40.06   43.07   4327500      A
 3    1999-11-23   42.50   42.94   40.25   40.38   3980200      A
 4    1999-11-24   40.13   41.94   40.00   41.00   3369900      A
 5    1999-11-26   40.88   41.50   40.75   41.19   1235800      A
 6    1999-11-29   41.00   42.44   40.56   41.94   2823500      A
 7    1999-11-30   42.00   42.94   40.94   42.25   2879800      A
 8    1999-12-01   42.19   43.44   41.87   43.25   2037500      A
 9    1999-12-02   43.75   45.01   43.38   44.44   2148600      A
 ...         ...     ...     ...     ...     ...       ...    ...
 6155 2024-03-02  139.09  139.10  139.06  139.06    244498      A
 6156 2024-03-04  139.15  143.49  138.81  142.96   1189895      A
 6157 2024-03-05  142.90  146.40  142.86  144.38   1698611      A
 6158 2024-03-06  144.37  147.44  144.31  146.29   1465582      A
 6159 2024-03-07  146.29  149.64  146.20  149.40   1294835      A
 6160 2024-03-08  149.29  151.58  147.88  147.90   1076898      A
 6161 2024-03-09  147.88  147.88  147.85  147.87    193717      A
 6162 2024-03-11  148.00  149.28  146.12  147.29    899890      A
 6163 2024-03-12  147.61  149.48  147.24  147.84    694960      A
 6164 2024-03-13  148.17  149.11  147.54  147.82   1771302      A

 [6165 rows x 7 columns],
        datetime   open   high    low  close    volume ticker
 0    2013-12-09  23.90  25.44  23.45  24.96  20698322    AAL
 1    2013-12-10  24.53  25.17  24.41  24.88  16285283    AAL
 2    2013-12-11  25.44  27.19  25.37  25.99  31194241    AAL
 3    2013-12-12  26.20  26.72  25.45  25.50  19006600    AAL
 4    2013-12-13  25.61  26.31  25.52  26.30  10829193    AAL
 5    2013-12-16  26.63  26.77  26.35  26.61  12005738    AAL
 6    2013-12-17  26.47  26.59  25.95  26.10   9904547    AAL
 7    2013-12-18  25.99  26.23  25.55  26.22   9330665    AAL
 8    2013-12-19  26.09  26.49  25.82  26.12   6247633    AAL
 9    2013-12-20  26.16  26.50  26.14  26.35   6718177    AAL
 ...         ...    ...    ...    ...    ...       ...    ...
 2619 2024-03-02  15.67  15.67  15.66  15.67     11419    AAL
 2620 2024-03-04  15.70  16.15  14.81  14.83  59386821    AAL
 2621 2024-03-05  14.82  14.83  14.29  14.67  38584621    AAL
 2622 2024-03-06  14.67  14.98  14.62  14.87  29339999    AAL
 2623 2024-03-07  14.87  15.00  14.81  14.90  20960692    AAL
 2624 2024-03-08  14.90  15.15  14.66  14.69  23918325    AAL
 2625 2024-03-09  14.68  14.68  14.68  14.68     18222    AAL
 2626 2024-03-11  14.60  14.67  14.42  14.66  19664873    AAL
 2627 2024-03-12  14.21  14.38  13.80  13.96  42127538    AAL
 2628 2024-03-13  13.90  14.18  13.87  13.99  22019374    AAL

 [2629 rows x 7 columns],
        datetime    open    high     low   close     volume ticker
 0    1998-01-02    0.12    0.14    0.12    0.14  170539824   AAPL
 1    1998-01-05    0.14    0.14    0.13    0.14  152723900   AAPL
 2    1998-01-06    0.14    0.17    0.13    0.16  433041952   AAPL
 3    1998-01-07    0.16    0.16    0.15    0.15  251914152   AAPL
 4    1998-01-08    0.15    0.16    0.15    0.16  188994988   AAPL
 5    1998-01-09    0.16    0.17    0.15    0.16  214486244   AAPL
 6    1998-01-12    0.15    0.16    0.15    0.16  125714764   AAPL
 7    1998-01-13    0.16    0.17    0.16    0.17  152129936   AAPL
 8    1998-01-14    0.17    0.17    0.17    0.17  138278308   AAPL
 9    1998-01-15    0.16    0.17    0.16    0.16  130645452   AAPL
 ...         ...     ...     ...     ...     ...        ...    ...
 6629 2024-03-02  179.65  179.67  179.59  179.66    5186609   AAPL
 6630 2024-03-04  176.15  176.90  173.79  175.10   54836758   AAPL
 6631 2024-03-05  175.08  175.13  169.62  170.15   62036287   AAPL
 6632 2024-03-06  170.16  171.24  168.68  169.20   43722618   AAPL
 6633 2024-03-07  169.19  170.73  168.49  169.13   46400329   AAPL
 6634 2024-03-08  169.12  173.70  168.95  170.98   53335094   AAPL
 6635 2024-03-09  170.99  171.01  170.77  170.79      59796   AAPL
 6636 2024-03-11  172.94  174.38  172.05  172.75   44605588   AAPL
 6637 2024-03-12  173.15  174.03  171.01  173.21   37477359   AAPL
 6638 2024-03-13  172.77  173.19  170.76  171.12   31607988   AAPL

 [6639 rows x 7 columns],
        datetime    open    high     low   close    volume ticker
 0    2013-01-02   34.92   35.40   34.10   35.30  12551959   ABBV
 1    2013-01-03   35.00   35.00   34.16   34.72  15624072   ABBV
 2    2013-01-04   34.35   34.89   34.25   34.39  20551570   ABBV
 3    2013-01-07   34.15   35.45   34.15   34.48  16632900   ABBV
 4    2013-01-08   34.29   34.64   33.36   33.72  16812454   ABBV
 5    2013-01-09   33.61   33.96   33.61   33.88  18313928   ABBV
 6    2013-01-10   33.35   34.00   33.33   33.97  14921004   ABBV
 7    2013-01-11   33.59   33.90   33.35   33.84  10507343   ABBV
 8    2013-01-14   34.01   34.25   33.80   34.13  10923999   ABBV
 9    2013-01-15   33.71   34.72   33.71   34.60  12738670   ABBV
 ...         ...     ...     ...     ...     ...       ...    ...
 2826 2024-03-02  178.95  178.97  178.86  178.91    663587   ABBV
 2827 2024-03-04  178.35  179.98  176.28  177.06   2412069   ABBV
 2828 2024-03-05  177.05  179.59  177.03  179.15   3208677   ABBV
 2829 2024-03-06  179.16  182.16  178.10  181.00   3555724   ABBV
 2830 2024-03-07  181.02  182.42  179.54  180.60   3919602   ABBV
 2831 2024-03-08  180.61  182.14  178.68  178.75   3697399   ABBV
 2832 2024-03-09  178.76  178.85  178.74  178.85    711588   ABBV
 2833 2024-03-11  178.41  181.26  178.24  179.63   3322534   ABBV
 2834 2024-03-12  179.72  182.89  179.69  180.92   3283006   ABBV
 2835 2024-03-13  182.50  182.51  179.42  179.86   2651956   ABBV

 [2836 rows x 7 columns],
       datetime    open    high     low   close    volume ticker
 0   2020-12-10  146.00  165.00  141.25  144.13  57733750   ABNB
 1   2020-12-11  146.55  151.50  135.10  139.25  21107846   ABNB
 2   2020-12-14  135.00  135.30  125.16  129.96  13319441   ABNB
 3   2020-12-15  126.69  127.60  121.50  124.68   8788654   ABNB
 4   2020-12-16  125.83  142.00  124.91  138.30  16190714   ABNB
 5   2020-12-17  143.00  152.45  142.67  147.32  12397050   ABNB
 6   2020-12-18  150.45  159.00  150.30  157.47  10621491   ABNB
 7   2020-12-21  155.31  172.00  145.11  162.87  14600129   ABNB
 8   2020-12-22  170.00  174.97  161.05  163.14   8069533   ABNB
 9   2020-12-23  162.93  168.25  155.50  158.19   4804832   ABNB
 ..         ...     ...     ...     ...     ...       ...    ...
 856 2024-03-02  159.77  159.77  159.70  159.72    449821   ABNB
 857 2024-03-04  159.90  163.02  157.93  158.05   2582054   ABNB
 858 2024-03-05  158.05  159.98  156.18  159.37   2789888   ABNB
 859 2024-03-06  159.38  164.59  159.38  163.80   3260822   ABNB
 860 2024-03-07  163.84  165.39  162.24  163.52   2111188   ABNB
 861 2024-03-08  163.53  168.19  163.48  164.96   2426440   ABNB
 862 2024-03-09  164.95  164.99  164.91  164.91      3361   ABNB
 863 2024-03-11  163.76  164.26  161.98  162.95   1751824   ABNB
 864 2024-03-12  162.96  167.00  162.74  166.66   2257772   ABNB
 865 2024-03-13  162.35  168.00  160.69  164.76   2812902   ABNB

 [866 rows x 7 columns],
        datetime    open    high     low   close   volume ticker
 0    1998-01-02   65.63   67.44   65.06   67.44  1117007    ABT
 1    1998-01-05   67.69   68.32   66.87   67.75  1316230    ABT
 2    1998-01-06   67.06   67.63   66.38   66.63  1044513    ABT
 3    1998-01-07   66.25   67.01   65.94   67.00   905805    ABT
 4    1998-01-08   68.25   68.44   67.68   68.06  1623717    ABT
 5    1998-01-09   68.00   68.06   66.87   67.31  1664520    ABT
 6    1998-01-12   66.38   69.56   66.18   69.56  1819643    ABT
 7    1998-01-13   69.00   70.19   68.87   69.81  1645532    ABT
 8    1998-01-14   69.81   70.25   69.25   69.88  1018412    ABT
 9    1998-01-15   70.00   70.50   69.37   69.44  1072500    ABT
 ...         ...     ...     ...     ...     ...      ...    ...
 6629 2024-03-02  118.60  118.63  118.60  118.62   560049    ABT
 6630 2024-03-04  118.30  120.28  118.17  120.05  1670334    ABT
 6631 2024-03-05  120.03  120.60  118.08  118.49  2285969    ABT
 6632 2024-03-06  118.50  119.58  118.42  119.39  2620371    ABT
 6633 2024-03-07  119.39  121.50  119.34  120.99  2528137    ABT
 6634 2024-03-08  120.99  121.64  120.61  120.99  2093590    ABT
 6635 2024-03-09  121.00  121.00  120.96  120.96   429117    ABT
 6636 2024-03-11  120.93  121.42  119.62  120.19  2588822    ABT
 6637 2024-03-12  119.95  121.08  119.06  120.76  2180224    ABT
 6638 2024-03-13  120.52  120.93  119.62  120.16  2436377    ABT

 [6639 rows x 7 columns],
        datetime   open   high    low  close   volume ticker
 0    2000-05-09  15.25  15.75  15.06  15.25    58600   ACGL
 1    2000-05-10  15.13  15.69  15.00  15.69     5600   ACGL
 2    2000-05-11  15.00  15.00  15.00  15.00     1800   ACGL
 3    2000-05-12  16.00  16.00  15.38  15.38    18000   ACGL
 4    2000-05-15  15.38  15.88  15.38  15.38    37100   ACGL
 5    2000-05-16  15.94  16.00  15.38  15.50     7600   ACGL
 6    2000-05-17  15.75  15.75  15.13  15.13    15300   ACGL
 7    2000-05-18  15.00  15.25  15.00  15.13    38500   ACGL
 8    2000-05-19  15.25  15.25  15.25  15.25     3200   ACGL
 9    2000-05-22  15.13  15.13  15.13  15.13    13700   ACGL
 ...         ...    ...    ...    ...    ...      ...    ...
 6025 2024-03-02  87.16  87.17  87.16  87.17   248899   ACGL
 6026 2024-03-04  87.31  87.56  86.56  87.16   490018   ACGL
 6027 2024-03-05  87.15  88.38  87.06  87.42   571522   ACGL
 6028 2024-03-06  87.41  88.89  86.84  88.83   659410   ACGL
 6029 2024-03-07  88.83  88.90  87.26  87.69   908278   ACGL
 6030 2024-03-08  87.73  88.05  87.01  87.63   596016   ACGL
 6031 2024-03-09  87.60  87.62  87.60  87.62      300   ACGL
 6032 2024-03-11  87.69  90.49  87.63  90.33  1214674   ACGL
 6033 2024-03-12  90.31  90.97  89.73  90.91  1112239   ACGL
 6034 2024-03-13  91.19  91.57  90.51  91.00  1062103   ACGL

 [6035 rows x 7 columns],
        datetime    open    high     low   close    volume ticker
 0    2001-07-19   15.11   15.29   15.08   15.12  16262100    ACN
 1    2001-07-20   15.05   15.05   14.80   15.01   8989600    ACN
 2    2001-07-23   15.00   15.01   14.55   14.96   7030000    ACN
 3    2001-07-24   14.95   14.97   14.70   14.86   3420100    ACN
 4    2001-07-25   14.70   14.94   14.65   14.92   3935200    ACN
 5    2001-07-26   14.95   14.99   14.50   14.51   5977500    ACN
 6    2001-07-27   14.51   14.59   14.50   14.50   3078600    ACN
 7    2001-07-30   14.50   14.78   14.50   14.75   3123100    ACN
 8    2001-07-31   14.71   15.01   14.60   14.89   1344000    ACN
 9    2001-08-01   15.00   15.40   14.90   15.25   1829100    ACN
 ...         ...     ...     ...     ...     ...       ...    ...
 5735 2024-03-02  381.13  381.19  380.99  380.99    296098    ACN
 5736 2024-03-04  382.31  386.98  381.61  383.77    712912    ACN
 5737 2024-03-05  383.75  384.16  373.96  376.88    834043    ACN
 5738 2024-03-06  376.83  383.06  376.81  380.98    894918    ACN
 5739 2024-03-07  381.06  387.51  380.83  387.09    865471    ACN
 5740 2024-03-08  387.14  387.51  377.73  378.15   1062916    ACN
 5741 2024-03-09  378.16  378.25  378.06  378.17    237025    ACN
 5742 2024-03-11  374.38  375.56  367.07  373.31   1375141    ACN
 5743 2024-03-12  375.00  382.42  374.85  380.48   1057082    ACN
 5744 2024-03-13  379.50  381.18  377.71  378.72    996128    ACN

 [5745 rows x 7 columns],
        datetime    open    high     low   close   volume ticker
 0    1998-01-02   40.75   40.88   39.50   40.44   730104   ADBE
 1    1998-01-05   40.13   41.63   40.12   41.00  1032008   ADBE
 2    1998-01-06   40.88   43.50   40.87   42.50  1548921   ADBE
 3    1998-01-07   42.38   42.50   41.37   41.81  2135003   ADBE
 4    1998-01-08   41.63   42.76   41.50   42.19  1072904   ADBE
 5    1998-01-09   42.00   42.19   41.00   41.19   786202   ADBE
 6    1998-01-12   40.38   41.88   40.12   40.69  1065002   ADBE
 7    1998-01-13   40.75   41.00   39.63   40.00  1070207   ADBE
 8    1998-01-14   40.25   40.26   38.75   38.87   840604   ADBE
 9    1998-01-15   38.50   40.01   38.25   39.25   707900   ADBE
 ...         ...     ...     ...     ...     ...      ...    ...
 6628 2024-03-02  570.83  570.93  570.74  570.93   462856   ADBE
 6629 2024-03-04  573.00  576.25  564.10  568.27  1120686   ADBE
 6630 2024-03-05  568.17  568.24  539.35  544.72  1609217   ADBE
 6631 2024-03-06  544.83  550.64  538.15  543.14  1294425   ADBE
 6632 2024-03-07  543.16  558.38  541.59  555.93  1107871   ADBE
 6633 2024-03-08  555.94  560.44  550.51  551.94  1087536   ADBE
 6634 2024-03-09  551.90  551.90  551.73  551.73      500   ADBE
 6635 2024-03-11  552.45  562.69  551.02  560.42  1573660   ADBE
 6636 2024-03-12  570.81  579.79  562.60  579.27  1443797   ADBE
 6637 2024-03-13  578.71  585.35  573.41  573.57  1461377   ADBE

 [6638 rows x 7 columns],
        datetime    open    high     low   close   volume ticker
 0    1998-01-02   27.63   27.69   27.31   27.63   715900    ADI
 1    1998-01-05   27.63   29.50   27.62   28.56  1807904    ADI
 2    1998-01-06   28.50   28.62   27.50   27.69   713401    ADI
 3    1998-01-07   27.63   27.63   26.25   26.50   939100    ADI
 4    1998-01-08   26.44   26.76   26.06   26.56  1198201    ADI
 5    1998-01-09   26.56   26.56   24.50   25.00  1500202    ADI
 6    1998-01-12   24.13   25.76   24.13   25.00   960602    ADI
 7    1998-01-13   25.56   26.37   25.00   26.31  2349901    ADI
 8    1998-01-14   26.50   26.63   24.81   24.94  2385403    ADI
 9    1998-01-15   25.19   26.75   24.94   26.44  2239401    ADI
 ...         ...     ...     ...     ...     ...      ...    ...
 6628 2024-03-02  196.24  196.28  196.17  196.23     6865    ADI
 6629 2024-03-04  195.78  196.23  193.70  194.72  1280950    ADI
 6630 2024-03-05  194.66  195.05  188.89  189.84  1375050    ADI
 6631 2024-03-06  189.86  194.00  189.81  191.61  1639251    ADI
 6632 2024-03-07  191.68  199.39  191.64  198.30  1748332    ADI
 6633 2024-03-08  198.26  199.67  195.58  196.10  1490961    ADI
 6634 2024-03-09  196.08  196.08  195.91  195.93     9447    ADI
 6635 2024-03-11  194.60  198.49  194.60  198.17  1115734    ADI
 6636 2024-03-12  199.38  199.60  196.53  199.18  1384384    ADI
 6637 2024-03-13  198.36  199.83  197.42  198.60  1202960    ADI

 [6638 rows x 7 columns],
        datetime   open   high    low  close    volume ticker
 0    1998-01-02  21.81  21.88  21.31  21.62    316202    ADM
 1    1998-01-05  21.63  21.94  21.56  21.75    675202    ADM
 2    1998-01-06  21.56  21.63  21.13  21.25    654201    ADM
 3    1998-01-07  21.00  22.63  20.75  22.62   1583400    ADM
 4    1998-01-08  22.63  22.94  22.12  22.25   1436308    ADM
 5    1998-01-09  22.25  22.31  21.88  21.88   1001801    ADM
 6    1998-01-12  21.56  22.31  21.56  22.31    977902    ADM
 7    1998-01-13  22.25  22.44  21.94  22.13   1132901    ADM
 8    1998-01-14  22.31  22.31  21.50  22.00    991200    ADM
 9    1998-01-15  22.00  22.25  21.94  22.00    504600    ADM
 ...         ...    ...    ...    ...    ...       ...    ...
 6627 2024-03-02  54.19  54.24  54.19  54.24    675795    ADM
 6628 2024-03-04  54.25  54.39  52.92  53.23   2711307    ADM
 6629 2024-03-05  53.22  53.73  52.89  53.48   3254160    ADM
 6630 2024-03-06  53.47  54.39  53.45  54.15   2506684    ADM
 6631 2024-03-07  54.14  55.83  53.40  54.20   8502342    ADM
 6632 2024-03-08  54.22  55.24  53.95  54.81   3512006    ADM
 6633 2024-03-09  54.80  54.82  54.80  54.81    401884    ADM
 6634 2024-03-11  54.69  55.56  54.67  54.91   4011571    ADM
 6635 2024-03-12  57.08  58.46  56.68  57.07   8154285    ADM
 6636 2024-03-13  57.50  59.32  57.45  58.27  11538126    ADM

 [6637 rows x 7 columns],
        datetime    open    high     low   close   volume ticker
 0    2000-12-01   66.00   66.00   64.50   64.88  1628400    ADP
 1    2000-12-04   65.44   65.94   65.00   65.19  1033000    ADP
 2    2000-12-05   65.00   65.32   63.31   65.25  1889700    ADP
 3    2000-12-06   63.50   66.50   63.50   66.19  2008600    ADP
 4    2000-12-07   65.00   65.69   64.69   65.13   963800    ADP
 5    2000-12-08   64.63   64.88   62.00   63.07  1824400    ADP
 6    2000-12-11   63.75   63.75   61.00   61.44  1440700    ADP
 7    2000-12-12   62.00   62.32   61.37   61.81  1018000    ADP
 8    2000-12-13   62.00   62.88   61.87   62.25  1519900    ADP
 9    2000-12-14   62.75   64.25   61.94   63.32  1633700    ADP
 ...         ...     ...     ...     ...     ...      ...    ...
 5893 2024-03-02  249.55  249.70  249.54  249.69     8318    ADP
 5894 2024-03-04  247.86  249.42  243.80  246.19  1403625    ADP
 5895 2024-03-05  246.19  246.39  242.58  244.00   981846    ADP
 5896 2024-03-06  243.97  246.28  243.08  243.72   813385    ADP
 5897 2024-03-07  243.70  245.97  243.25  244.32   967509    ADP
 5898 2024-03-08  244.26  244.31  241.48  242.48   965078    ADP
 5899 2024-03-09  242.49  242.53  242.36  242.45     1874    ADP
 5900 2024-03-11  243.23  244.53  241.70  244.01   568891    ADP
 5901 2024-03-12  243.49  245.66  242.61  244.61   634630    ADP
 5902 2024-03-13  244.67  245.26  243.07  244.27   459240    ADP

 [5903 rows x 7 columns],
        datetime    open    high     low   close   volume ticker
 0    1998-01-02   37.13   37.51   35.88   37.38   244400   ADSK
 1    1998-01-05   36.88   38.51   36.88   38.25   642500   ADSK
 2    1998-01-06   38.13   40.01   38.12   39.38   795200   ADSK
 3    1998-01-07   39.50   39.50   37.50   38.25   645602   ADSK
 4    1998-01-08   37.75   39.13   37.38   38.75   505000   ADSK
 5    1998-01-09   38.63   38.88   34.75   35.88  1174100   ADSK
 6    1998-01-12   34.50   36.38   34.37   35.75   690809   ADSK
 7    1998-01-13   36.00   37.25   35.62   36.32   713301   ADSK
 8    1998-01-14   36.50   37.51   35.84   37.38   373900   ADSK
 9    1998-01-15   37.25   38.50   37.00   37.88   613303   ADSK
 ...         ...     ...     ...     ...     ...      ...    ...
 6629 2024-03-02  264.74  264.74  264.74  264.74   220237   ADSK
 6630 2024-03-04  262.81  263.85  259.66  260.70   908766   ADSK
 6631 2024-03-05  257.44  257.51  246.17  247.26   711465   ADSK
 6632 2024-03-06  247.31  252.23  247.26  251.07   329377   ADSK
 6633 2024-03-07  250.99  256.09  250.89  253.93   596657   ADSK
 6634 2024-03-08  253.86  256.03  251.69  251.83   322920   ADSK
 6635 2024-03-09  251.86  251.86  251.86  251.86   168442   ADSK
 6636 2024-03-11  252.31  259.11  251.38  258.27   644705   ADSK
 6637 2024-03-12  259.87  264.09  258.39  262.66   610945   ADSK
 6638 2024-03-13  262.85  264.08  258.51  258.67   373997   ADSK

 [6639 rows x 7 columns],
        datetime   open   high    low  close   volume ticker
 0    1998-01-02  42.88  43.07  42.38  42.75   386100    AEE
 1    1998-01-05  43.06  43.13  42.06  42.44   506700    AEE
 2    1998-01-06  42.13  42.19  41.75  41.87   247900    AEE
 3    1998-01-07  41.88  41.88  40.88  41.50   327001    AEE
 4    1998-01-08  41.56  41.56  40.75  40.94   302200    AEE
 5    1998-01-09  40.94  41.81  40.94  41.31   292600    AEE
 6    1998-01-12  41.13  41.81  41.00  41.69   259800    AEE
 7    1998-01-13  41.75  41.75  41.18  41.38   168300    AEE
 8    1998-01-14  41.44  41.44  41.13  41.19   122001    AEE
 9    1998-01-15  41.19  41.19  40.25  40.25   146900    AEE
 ...         ...    ...    ...    ...    ...      ...    ...
 6627 2024-03-02  71.34  71.35  71.31  71.32   318266    AEE
 6628 2024-03-04  70.70  72.95  70.70  72.66  1030492    AEE
 6629 2024-03-05  72.66  73.81  71.96  72.16  1785166    AEE
 6630 2024-03-06  72.13  73.63  72.12  73.13  1222725    AEE
 6631 2024-03-07  73.14  73.76  72.90  73.09   883822    AEE
 6632 2024-03-08  73.10  73.60  72.51  73.04  1104703    AEE
 6633 2024-03-09  73.03  73.04  73.01  73.01   193306    AEE

In [6]:
consolidated_df = pd.concat(df_list, ignore_index=True)

In [7]:

consolidated_df['datetime'] = pd.to_datetime(consolidated_df['datetime'],unit='s')
consolidated_df['datetime'] = consolidated_df['datetime'].dt.strftime('%Y-%m-%d')
consolidated_df['volume'] = np.floor(pd.to_numeric(consolidated_df['volume'], errors='coerce')).astype('Int64')

consolidated_df

           datetime    open    high     low   close    volume ticker
0        1999-11-18   45.56   50.00   40.37   42.44  28749500      A
1        1999-11-19   42.94   43.00   39.82   40.69  10507800      A
2        1999-11-22   41.31   43.13   40.06   43.07   4327500      A
3        1999-11-23   42.50   42.94   40.25   40.38   3980200      A
4        1999-11-24   40.13   41.94   40.00   41.00   3369900      A
5        1999-11-26   40.88   41.50   40.75   41.19   1235800      A
6        1999-11-29   41.00   42.44   40.56   41.94   2823500      A
7        1999-11-30   42.00   42.94   40.94   42.25   2879800      A
8        1999-12-01   42.19   43.44   41.87   43.25   2037500      A
9        1999-12-02   43.75   45.01   43.38   44.44   2148600      A
...             ...     ...     ...     ...     ...       ...    ...
2795342  2024-03-02  190.82  190.84  190.77  190.82    274957    ZTS
2795343  2024-03-04  189.61  190.42  186.51  187.83   2523222    ZTS
2795344  2024-03-05  187.81  187.86  184.42  185.23   1830544    ZTS
2795345  2024-03-06  185.21  187.24  183.23  183.53   3674976    ZTS
2795346  2024-03-07  183.52  185.11  181.39  181.56   2776161    ZTS
2795347  2024-03-08  181.59  182.98  179.84  182.53   5194409    ZTS
2795348  2024-03-09  182.52  182.53  182.13  182.16    611363    ZTS
2795349  2024-03-11  182.62  183.99  180.42  183.49   2648357    ZTS
2795350  2024-03-12  183.65  183.83  180.94  181.35   1931447    ZTS
2795351  2024-03-13  181.60  182.97  175.99  176.23   4130104    ZTS

[2795352 rows x 7 columns]

In [12]:
client = clickhouse_connect.get_client(host=CLICKHOUSE_CLOUD_HOSTNAME, port=443, user=CLICKHOUSE_CLOUD_USER, password=CLICKHOUSE_CLOUD_PASSWORD,database='default')
print(client.ping())
print("connected to " + CLICKHOUSE_CLOUD_HOSTNAME + "\n")
#client.command(f'DROP TABLE IF EXISTS {TABLE_NAME}')

True
connected to csi4142-clickhouse.mershab.xyz

''

In [ ]:
# Check if table exists and create if it doesn't
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
    datetime String,
    open Float64,
    high Float64,
    low Float64,
    close Float64,
    volume UInt64,
    ticker String
) ENGINE = MergeTree()
ORDER BY datetime
"""

client.command(create_table_query)

In [13]:
client.insert_df(TABLE_NAME, consolidated_df)