In [24]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import clickhouse_connect
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.width = None
pd.set_option('display.max_rows', 100)
pd.set_option('display.min_rows', 20)

In [15]:
# you can change config here)))
tickers = ["AAPL.US", "TSLA.US", "BAC.US", "MSFT.US", "GOOGL.US", "AMZN.US", "V.US", "JNJ.US", "WMT.US", "NVDA.US", "META.US", "XOM.US", "UNH.US", "KO.US", "MA.US", "NFLX.US", "DIS.US", "SBUX.US", ]  # 18

names = ['Apple', 'Tesla Motors', 'Bank of America', 'Microsoft Corporation', 'Alphabet Inc. Class A', 'Amazon.com', 'Visa', 'Johnson and Johnson', 'Walmart Inc.', 'Nvidia', 'Meta Platforms Inc.', 'Exxon Mobil', 'UnitedHealth Group', 'Coca Cola', 'Mastercard', 'Netflix', 'Walt Disney Company', 'Starbucks']

timeframe_in = "D1"  # timeframe for neural network training - input and we will trade on the same timeframe

CLICKHOUSE_CLOUD_HOSTNAME = 'csi4142-clickhouse.mershab.xyz'
CLICKHOUSE_CLOUD_USER = 'csi'
CLICKHOUSE_CLOUD_PASSWORD = 'iceberg'


TABLE_NAME = 'company_dimension_table_test'

In [16]:
# Do it for all shares
df_list = []
single_ticker_df = {}
for ticker in tickers:
    temp_df  = pd.DataFrame(pd.read_csv(f"../data/company_dimension/{timeframe_in}/{ticker}_{timeframe_in}.csv", parse_dates=['datetime']))
    temp_df['ticker'] = ticker
    df_list.append(temp_df) 

df_list

[       datetime    open    high     low   close     volume   ticker
 0    1998-01-02    0.12    0.14    0.12    0.14  170539824  AAPL.US
 1    1998-01-05    0.14    0.14    0.13    0.14  152723900  AAPL.US
 2    1998-01-06    0.14    0.17    0.13    0.16  433041952  AAPL.US
 3    1998-01-07    0.16    0.16    0.15    0.15  251914152  AAPL.US
 4    1998-01-08    0.15    0.16    0.15    0.16  188994988  AAPL.US
 5    1998-01-09    0.16    0.17    0.15    0.16  214486244  AAPL.US
 6    1998-01-12    0.15    0.16    0.15    0.16  125714764  AAPL.US
 7    1998-01-13    0.16    0.17    0.16    0.17  152129936  AAPL.US
 8    1998-01-14    0.17    0.17    0.17    0.17  138278308  AAPL.US
 9    1998-01-15    0.16    0.17    0.16    0.16  130645452  AAPL.US
 ...         ...     ...     ...     ...     ...        ...      ...
 6629 2024-03-02  179.65  179.67  179.59  179.66    5186609  AAPL.US
 6630 2024-03-04  176.15  176.90  173.79  175.10   54836758  AAPL.US
 6631 2024-03-05  175.08  175.13  169.62  170.15   62036287  AAPL.US
 6632 2024-03-06  170.16  171.24  168.68  169.20   43722618  AAPL.US
 6633 2024-03-07  169.19  170.73  168.49  169.13   46400329  AAPL.US
 6634 2024-03-08  169.12  173.70  168.95  170.98   53335094  AAPL.US
 6635 2024-03-09  170.99  171.01  170.77  170.79      59796  AAPL.US
 6636 2024-03-11  172.94  174.38  172.05  172.75   44605588  AAPL.US
 6637 2024-03-12  173.15  174.03  171.01  173.21   37477359  AAPL.US
 6638 2024-03-13  172.77  173.19  170.76  171.12   31607988  AAPL.US

 [6639 rows x 7 columns],
        datetime    open    high     low   close     volume   ticker
 0    2010-06-29    1.23    1.66    1.16    1.59   48396981  TSLA.US
 1    2010-06-30    1.72    2.02    1.55    1.57   50220666  TSLA.US
 2    2010-07-01    1.66    1.72    1.34    1.46   24136347  TSLA.US
 3    2010-07-02    1.53    1.54    1.24    1.28   14933295  TSLA.US
 4    2010-07-06    1.33    1.33    1.05    1.06   19921698  TSLA.US
 5    2010-07-07    1.09    1.10    0.99    1.04   20416986  TSLA.US
 6    2010-07-08    1.07    1.16    1.03    1.16   22604979  TSLA.US
 7    2010-07-09    1.16    1.18    1.10    1.15    9725577  TSLA.US
 8    2010-07-12    1.19    1.20    1.13    1.13    5173848  TSLA.US
 9    2010-07-13    1.15    1.23    1.12    1.20    6474024  TSLA.US
 ...         ...     ...     ...     ...     ...        ...      ...
 3488 2024-03-02  202.69  202.70  202.60  202.65      25149  TSLA.US
 3489 2024-03-04  198.73  199.75  186.72  188.19  104766501  TSLA.US
 3490 2024-03-05  188.20  188.21  177.57  180.80   90250233  TSLA.US
 3491 2024-03-06  180.77  181.58  173.70  176.55   80438451  TSLA.US
 3492 2024-03-07  176.56  180.04  173.70  178.70   79672292  TSLA.US
 3493 2024-03-08  178.73  182.73  174.70  175.41   67134329  TSLA.US
 3494 2024-03-09  175.41  175.41  175.32  175.39      33414  TSLA.US
 3495 2024-03-11  175.45  182.87  174.80  177.81   66873611  TSLA.US
 3496 2024-03-12  177.77  179.43  172.41  177.47   67692765  TSLA.US
 3497 2024-03-13  173.05  176.05  169.15  169.49   77267229  TSLA.US

 [3498 rows x 7 columns],
        datetime   open   high    low  close    volume  ticker
 0    1998-01-02  30.19  30.50  29.73  30.38   2089631  BAC.US
 1    1998-01-05  31.65  31.78  30.87  31.22   5821768  BAC.US
 2    1998-01-06  31.68  31.76  30.65  30.81   8081564  BAC.US
 3    1998-01-07  31.69  31.98  30.25  31.00   8945955  BAC.US
 4    1998-01-08  30.48  31.36  30.25  30.69   9085504  BAC.US
 5    1998-01-09  29.73  30.71  29.44  29.50   9174445  BAC.US
 6    1998-01-12  28.45  29.44  28.45  29.03   7622265  BAC.US
 7    1998-01-13  28.06  29.20  28.06  29.03   7896396  BAC.US
 8    1998-01-14  30.35  30.69  30.04  30.41   7777045  BAC.US
 9    1998-01-15  29.60  30.28  29.46  30.06   6478861  BAC.US
 ...         ...    ...    ...    ...    ...       ...     ...
 6629 2024-03-02  34.36  34.37  34.35  34.35   3704499  BAC.US
 6630 2024-03-04  34.29  35.42  34.25  35.16  39360820  BAC.US
 6631 2024-03-05  35.16  35.72  34.87  35.40  39058525  BAC.US
 6632 2024-03-06  35.40  35.79  35.07  35.43  42078037  BAC.US
 6633 2024-03-07  35.43  35.90  35.25  35.63  31096685  BAC.US
 6634 2024-03-08  35.62  36.13  35.50  35.59  38412259  BAC.US
 6635 2024-03-09  35.60  35.61  35.59  35.60   3632079  BAC.US
 6636 2024-03-11  35.39  35.93  35.27  35.89  29377764  BAC.US
 6637 2024-03-12  35.90  36.15  35.78  35.96  24420397  BAC.US
 6638 2024-03-13  35.96  36.45  35.96  36.08  34379011  BAC.US

 [6639 rows x 7 columns],
        datetime    open    high     low   close    volume   ticker
 0    1998-01-02  129.63  131.50  129.50  131.13   4591423  MSFT.US
 1    1998-01-05  131.25  133.63  127.87  130.32   9328850  MSFT.US
 2    1998-01-06  129.75  133.01  129.25  130.88   8018346  MSFT.US
 3    1998-01-07  129.88  130.63  127.50  129.76   7223746  MSFT.US
 4    1998-01-08  128.63  132.13  127.50  130.51   9249042  MSFT.US
 5    1998-01-09  130.06  131.50  125.88  127.00  10419787  MSFT.US
 6    1998-01-12  124.63  130.01  124.37  129.56   9117583  MSFT.US
 7    1998-01-13  129.50  132.26  128.12  132.13   7978147  MSFT.US
 8    1998-01-14  132.13  132.51  129.25  131.07   6536640  MSFT.US
 9    1998-01-15  130.38  133.01  129.87  132.25   6176330  MSFT.US
 ...         ...     ...     ...     ...     ...       ...      ...
 6629 2024-03-02  415.50  415.53  415.30  415.52     16185  MSFT.US
 6630 2024-03-04  413.44  417.35  412.32  414.91   8061006  MSFT.US
 6631 2024-03-05  414.90  414.98  400.64  402.72  14206943  MSFT.US
 6632 2024-03-06  402.74  405.16  398.39  402.29  12575737  MSFT.US
 6633 2024-03-07  402.26  409.78  401.99  409.19   8722082  MSFT.US
 6634 2024-03-08  409.20  410.42  404.33  406.17   8813247  MSFT.US
 6635 2024-03-09  406.12  406.31  406.10  406.22   2900212  MSFT.US
 6636 2024-03-11  403.76  405.68  401.26  404.62   7795006  MSFT.US
 6637 2024-03-12  407.62  415.57  406.79  415.22  11016071  MSFT.US
 6638 2024-03-13  418.10  418.10  411.45  415.10   7577838  MSFT.US

 [6639 rows x 7 columns],
        datetime    open    high     low   close     volume    ticker
 0    2004-08-19    4.90    5.20    4.79    5.01  393305840  GOOGL.US
 1    2004-08-20    5.07    5.45    5.02    5.41  224638980  GOOGL.US
 2    2004-08-23    5.53    5.67    5.45    5.47  177612740  GOOGL.US
 3    2004-08-24    5.56    5.58    5.17    5.25  148546800  GOOGL.US
 4    2004-08-25    5.24    5.40    5.19    5.29   89564520  GOOGL.US
 5    2004-08-26    5.24    5.39    5.23    5.38   69099040  GOOGL.US
 6    2004-08-27    5.40    5.43    5.28    5.30   59721180  GOOGL.US
 7    2004-08-30    5.27    5.27    5.10    5.10   50637760  GOOGL.US
 8    2004-08-31    5.11    5.18    5.10    5.11   47049500  GOOGL.US
 9    2004-09-01    5.13    5.14    4.98    5.00   88202420  GOOGL.US
 ...         ...     ...     ...     ...     ...        ...       ...
 4963 2024-03-02  137.15  137.15  137.11  137.12      19506  GOOGL.US
 4964 2024-03-04  135.66  135.66  131.91  133.31   39879543  GOOGL.US
 4965 2024-03-05  133.32  133.36  130.67  132.71   26473396  GOOGL.US
 4966 2024-03-06  132.70  133.58  130.85  131.43   21411479  GOOGL.US
 4967 2024-03-07  131.41  134.94  131.37  134.47   23661553  GOOGL.US
 4968 2024-03-08  134.47  138.09  134.00  135.49   28230614  GOOGL.US
 4969 2024-03-09  135.49  135.50  135.42  135.42      17277  GOOGL.US
 4970 2024-03-11  136.13  139.10  136.13  137.71   20899600  GOOGL.US
 4971 2024-03-12  137.03  139.38  137.03  138.48   14958298  GOOGL.US
 4972 2024-03-13  139.00  141.09  138.99  139.82   13350159  GOOGL.US

 [4973 rows x 7 columns],
        datetime    open    high     low   close    volume   ticker
 0    1998-01-02    3.00    3.00    2.87    2.97   2646000  AMZN.US
 1    1998-01-05    2.93    2.96    2.82    2.85   5762000  AMZN.US
 2    1998-01-06    2.81    2.92    2.80    2.89   6258000  AMZN.US
 3    1998-01-07    2.90    2.90    2.81    2.86   4500000  AMZN.US
 4    1998-01-08    2.81    2.82    2.71    2.76   9898000  AMZN.US
 5    1998-01-09    2.80    2.80    2.53    2.55  10572040  AMZN.US
 6    1998-01-12    2.50    2.63    2.48    2.58  11946000  AMZN.US
 7    1998-01-13    2.60    2.80    2.59    2.77  11778040  AMZN.US
 8    1998-01-14    2.79    2.92    2.77    2.92  13542000  AMZN.US
 9    1998-01-15    2.87    3.00    2.87    2.97   9942000  AMZN.US
 ...         ...     ...     ...     ...     ...       ...      ...
 6629 2024-03-02  178.29  178.30  178.17  178.27     43773  AMZN.US
 6630 2024-03-04  177.53  180.14  177.52  177.55  21007184  AMZN.US
 6631 2024-03-05  177.56  177.57  173.30  174.08  21706805  AMZN.US
 6632 2024-03-06  174.10  176.46  173.26  173.57  25400883  AMZN.US
 6633 2024-03-07  173.55  177.99  173.48  176.86  21189717  AMZN.US
 6634 2024-03-08  176.87  178.79  174.33  175.33  24047313  AMZN.US
 6635 2024-03-09  175.32  175.36  175.31  175.35     21048  AMZN.US
 6636 2024-03-11  174.31  174.47  171.47  171.97  17955062  AMZN.US
 6637 2024-03-12  173.50  176.76  171.98  175.39  22960027  AMZN.US
 6638 2024-03-13  175.90  177.62  175.55  176.54  18901563  AMZN.US

 [6639 rows x 7 columns],
        datetime    open    high     low   close     volume ticker
 0    2008-03-19   59.50   64.00   55.00   56.63  139307554   V.US
 1    2008-03-20   58.40   65.00   57.50   63.90   48526036   V.US
 2    2008-03-24   67.34   67.70   59.00   59.57   36318246   V.US
 3    2008-03-25   60.59   64.25   59.82   63.10   21238298   V.US
 4    2008-03-26   62.73   64.48   61.57   63.99   10599754   V.US
 5    2008-03-27   64.05   64.74   62.65   62.96    9640861   V.US
 6    2008-03-28   63.37   63.44   62.16   62.72    6069179   V.US
 7    2008-03-31   62.60   63.48   62.05   62.30    5446062   V.US
 8    2008-04-01   63.06   63.68   60.31   61.46   14928770   V.US
 9    2008-04-02   61.71   62.32   60.50   62.32   10782040   V.US
 ...         ...     ...     ...     ...     ...        ...    ...
 4061 2024-03-02  283.27  283.28  283.16  283.16     579502   V.US
 4062 2024-03-04  282.81  283.00  278.13  280.51    2926483   V.US
 4063 2024-03-05  280.47  280.99  277.68  279.43    3272925   V.US
 4064 2024-03-06  279.38  282.00  279.31  280.41    4027806   V.US
 4065 2024-03-07  280.41  281.17  276.16  278.31    3567465   V.US
 4066 2024-03-08  278.25  281.67  278.09  280.05    2537675   V.US
 4067 2024-03-09  280.06  280.06  280.01  280.04     510828   V.US
 4068 2024-03-11  279.45  280.77  277.99  280.56    3262570   V.US
 4069 2024-03-12  281.31  284.48  280.29  283.92    5797012   V.US
 4070 2024-03-13  284.66  286.10  283.82  285.14    3970521   V.US

 [4071 rows x 7 columns],
        datetime    open    high     low   close   volume  ticker
 0    1998-01-02   65.06   65.13   64.62   65.00  2039129  JNJ.US
 1    1998-01-05   65.31   65.44   64.44   64.94  2513612  JNJ.US
 2    1998-01-06   64.63   64.69   63.37   64.06  2362126  JNJ.US
 3    1998-01-07   63.50   64.50   63.50   64.50  1796920  JNJ.US
 4    1998-01-08   64.94   65.81   64.56   65.31  3003536  JNJ.US
 5    1998-01-09   65.00   65.94   64.18   64.75  3370431  JNJ.US
 6    1998-01-12   63.56   66.19   63.50   65.81  3820666  JNJ.US
 7    1998-01-13   66.00   66.69   65.69   66.25  2741632  JNJ.US
 8    1998-01-14   66.25   66.82   65.94   66.44  2323230  JNJ.US
 9    1998-01-15   66.13   66.38   65.50   65.63  2163702  JNJ.US
 ...         ...     ...     ...     ...     ...      ...     ...
 6629 2024-03-02  162.15  162.15  162.11  162.12   799713  JNJ.US
 6630 2024-03-04  161.32  161.32  158.27  159.82  4605657  JNJ.US
 6631 2024-03-05  159.85  161.24  159.20  160.00  7086229  JNJ.US
 6632 2024-03-06  160.00  160.93  159.22  159.37  4408949  JNJ.US
 6633 2024-03-07  159.37  160.36  158.24  158.92  3313924  JNJ.US
 6634 2024-03-08  158.92  160.39  158.43  159.52  3743852  JNJ.US
 6635 2024-03-09  159.53  159.56  159.52  159.52  1245000  JNJ.US
 6636 2024-03-11  159.49  161.32  158.88  161.23  3088578  JNJ.US
 6637 2024-03-12  161.58  163.11  161.13  162.74  5949075  JNJ.US
 6638 2024-03-13  162.53  162.68  159.81  161.10  4535362  JNJ.US

 [6639 rows x 7 columns],
        datetime   open   high    low  close    volume  ticker
 0    1998-01-02  39.44  39.69  38.81  39.13   1400609  WMT.US
 1    1998-01-05  39.81  39.88  39.00  39.75   2069913  WMT.US
 2    1998-01-06  39.13  40.07  39.13  39.94   3272404  WMT.US
 3    1998-01-07  39.75  40.06  39.38  40.00   2516902  WMT.US
 4    1998-01-08  40.00  40.19  39.25  39.38   2400307  WMT.US
 5    1998-01-09  39.38  39.44  38.07  38.19   2988403  WMT.US
 6    1998-01-12  37.56  39.75  37.56  39.50   4276922  WMT.US
 7    1998-01-13  39.69  39.75  38.93  39.44   2685411  WMT.US
 8    1998-01-14  39.69  39.82  39.13  39.75   3092605  WMT.US
 9    1998-01-15  39.75  39.94  39.19  39.88   2010501  WMT.US
 ...         ...    ...    ...    ...    ...       ...     ...
 6628 2024-03-02  58.77  58.77  58.73  58.76   2088349  WMT.US
 6629 2024-03-04  58.50  59.39  58.40  59.32  10427621  WMT.US
 6630 2024-03-05  59.31  60.34  59.30  60.04  15122584  WMT.US
 6631 2024-03-06  60.03  60.62  60.02  60.58  10891357  WMT.US
 6632 2024-03-07  60.58  61.07  60.35  60.35  10200103  WMT.US
 6633 2024-03-08  60.35  60.36  59.73  60.13  11963496  WMT.US
 6634 2024-03-09  60.13  60.13  60.10  60.12   1662528  WMT.US
 6635 2024-03-11  60.10  60.71  59.87  60.66  11618316  WMT.US
 6636 2024-03-12  60.95  61.57  60.65  61.41  12679674  WMT.US
 6637 2024-03-13  61.26  61.46  60.88  61.28  12679050  WMT.US

 [6638 rows x 7 columns],
        datetime    open    high     low   close    volume   ticker
 0    1999-01-22    5.56    5.86    4.65    4.90   5330300  NVDA.US
 1    1999-01-25    5.31    5.50    4.92    5.43   1028900  NVDA.US
 2    1999-01-26    5.50    5.61    4.93    5.01    695000  NVDA.US
 3    1999-01-27    5.03    5.15    4.75    5.00    472200  NVDA.US
 4    1999-01-28    5.00    5.03    4.95    4.98    378900  NVDA.US
 5    1999-01-29    4.98    5.00    4.75    4.81    485300  NVDA.US
 6    1999-02-01    4.75    4.87    4.75    4.84    318000  NVDA.US
 7    1999-02-02    4.75    4.87    4.32    4.43    524300  NVDA.US
 8    1999-02-03    4.40    4.62    4.37    4.56    151300  NVDA.US
 9    1999-02-04    4.62    4.93    4.56    4.81    376500  NVDA.US
 ...         ...     ...     ...     ...     ...       ...      ...
 6364 2024-03-02  822.89  822.97  822.42  822.79   1573013  NVDA.US
 6365 2024-03-04  841.30  876.95  837.19  852.33  39746567  NVDA.US
 6366 2024-03-05  852.33  860.97  834.17  859.99  33659198  NVDA.US
 6367 2024-03-06  859.91  897.24  859.69  886.87  38255879  NVDA.US
 6368 2024-03-07  887.13  927.49  886.76  927.04  36955030  NVDA.US
 6369 2024-03-08  927.08  974.00  865.06  876.06  70462339  NVDA.US
 6370 2024-03-09  876.05  876.25  875.00  875.02     17470  NVDA.US
 6371 2024-03-11  864.29  887.97  841.66  857.74  41904006  NVDA.US
 6372 2024-03-12  880.49  919.48  861.50  918.92  42604539  NVDA.US
 6373 2024-03-13  910.55  915.04  884.35  908.98  41007214  NVDA.US

 [6374 rows x 7 columns],
        datetime    open    high     low   close     volume   ticker
 0    2012-05-18   42.27   43.00   38.00   38.18  470820876  META.US
 1    2012-05-21   36.53   36.66   33.00   34.03  155558610  META.US
 2    2012-05-22   32.66   33.59   30.94   31.11   94691008  META.US
 3    2012-05-23   31.37   32.51   31.36   32.00   66473588  META.US
 4    2012-05-24   32.98   33.21   31.77   33.02   43645197  META.US
 5    2012-05-25   32.90   32.95   31.11   31.90   35371589  META.US
 6    2012-05-29   31.46   31.69   28.65   28.82   74780213  META.US
 7    2012-05-30   28.73   29.55   27.86   28.18   54228391  META.US
 8    2012-05-31   28.56   29.67   26.83   29.67   82460791  META.US
 9    2012-06-01   28.92   29.15   27.39   27.70   38918266  META.US
 ...         ...     ...     ...     ...     ...        ...      ...
 3011 2024-03-02  502.46  502.55  502.19  502.19       4996  META.US
 3012 2024-03-04  503.00  504.42  496.42  498.17    6345394  META.US
 3013 2024-03-05  498.17  498.22  487.89  490.65    8209140  META.US
 3014 2024-03-06  490.60  502.97  490.27  496.34    6462031  META.US
 3015 2024-03-07  496.30  519.85  496.04  512.45   11996872  META.US
 3016 2024-03-08  512.49  523.57  499.35  505.97   10508079  META.US
 3017 2024-03-09  505.87  506.01  505.80  505.94       6053  META.US
 3018 2024-03-11  497.01  497.32  476.00  483.70   12548748  META.US
 3019 2024-03-12  493.77  502.31  484.73  499.70    8890119  META.US
 3020 2024-03-13  495.39  500.98  491.03  495.66    6106300  META.US

 [3021 rows x 7 columns],
        datetime    open    high     low   close    volume  ticker
 0    1999-12-01   79.25   82.88   79.25   82.38   5851900  XOM.US
 1    1999-12-02   82.88   82.88   81.25   81.75   5338000  XOM.US
 2    1999-12-03   82.00   83.13   81.63   82.75   5495000  XOM.US
 3    1999-12-06   82.25   84.01   82.00   83.94   4455500  XOM.US
 4    1999-12-07   84.00   85.19   83.75   83.87   6717700  XOM.US
 5    1999-12-08   83.63   84.50   82.62   84.00   4593500  XOM.US
 6    1999-12-09   84.38   86.56   83.88   86.00   6019600  XOM.US
 7    1999-12-10   85.81   85.81   82.69   82.82   5083400  XOM.US
 8    1999-12-13   83.38   83.81   81.06   82.69   5766000  XOM.US
 9    1999-12-14   82.00   83.13   82.00   82.44   5321300  XOM.US
 ...         ...     ...     ...     ...     ...       ...     ...
 6147 2024-03-02  105.86  105.87  105.77  105.84   1529397  XOM.US
 6148 2024-03-04  105.66  105.85  104.03  104.35  12282672  XOM.US
 6149 2024-03-05  104.34  106.27  104.32  105.66  16855997  XOM.US
 6150 2024-03-06  105.65  107.57  105.58  106.77  16045671  XOM.US
 6151 2024-03-07  106.77  107.98  106.60  107.40  11907988  XOM.US
 6152 2024-03-08  107.40  108.36  106.77  108.36  11342590  XOM.US
 6153 2024-03-09  108.37  108.40  108.34  108.38   4069538  XOM.US
 6154 2024-03-11  108.25  109.12  107.34  109.02  13848223  XOM.US
 6155 2024-03-12  109.06  109.28  108.03  108.32  13203327  XOM.US
 6156 2024-03-13  109.14  110.35  109.11  109.53  15569192  XOM.US

 [6157 rows x 7 columns],
        datetime    open    high     low   close   volume  ticker
 0    1998-01-02   49.75   50.69   49.43   49.69   458600  UNH.US
 1    1998-01-05   49.69   50.31   49.57   49.69   748800  UNH.US
 2    1998-01-06   49.13   50.00   48.44   49.88   928400  UNH.US
 3    1998-01-07   49.81   50.50   49.50   50.31  1003300  UNH.US
 4    1998-01-08   50.31   51.01   50.19   50.44  1109600  UNH.US
 5    1998-01-09   50.50   50.63   49.50   49.50  1112500  UNH.US
 6    1998-01-12   48.00   49.75   48.00   48.56  1206201  UNH.US
 7    1998-01-13   48.63   48.63   47.81   48.00  1017600  UNH.US
 8    1998-01-14   48.25   49.44   48.06   48.88   590800  UNH.US
 9    1998-01-15   48.00   48.13   47.00   47.25  1536800  UNH.US
 ...         ...     ...     ...     ...     ...      ...     ...
 6629 2024-03-02  489.78  489.81  489.53  489.53   454350  UNH.US
 6630 2024-03-04  483.24  487.04  480.10  481.83  2547533  UNH.US
 6631 2024-03-05  481.86  482.90  470.62  473.29  3262077  UNH.US
 6632 2024-03-06  473.19  479.80  468.19  472.55  3606203  UNH.US
 6633 2024-03-07  472.55  481.19  472.54  478.97  3396146  UNH.US
 6634 2024-03-08  479.07  484.25  474.77  476.29  2779081  UNH.US
 6635 2024-03-09  476.27  476.66  476.27  476.57   594502  UNH.US
 6636 2024-03-11  477.00  490.31  476.00  489.15  2547742  UNH.US
 6637 2024-03-12  488.13  492.28  487.35  489.35  1910996  UNH.US
 6638 2024-03-13  493.52  496.00  485.33  488.00  2203710  UNH.US

 [6639 rows x 7 columns],
        datetime   open   high    low  close    volume ticker
 0    1998-01-02  66.75  67.01  65.93  66.81   2376216  KO.US
 1    1998-01-05  66.81  66.87  65.25  66.44   3555529  KO.US
 2    1998-01-06  65.88  66.63  65.82  66.19   2634719  KO.US
 3    1998-01-07  65.81  66.19  65.13  66.19   2538524  KO.US
 4    1998-01-08  65.81  67.00  65.75  66.75   3067506  KO.US
 5    1998-01-09  66.44  66.69  64.06  64.25   4313315  KO.US

In [17]:
consolidated_df = pd.concat(df_list, ignore_index=True)

In [18]:

consolidated_df['datetime'] = pd.to_datetime(consolidated_df['datetime'],unit='s')
consolidated_df['datetime'] = consolidated_df['datetime'].dt.strftime('%Y-%m-%d')
consolidated_df

          datetime   open   high    low  close     volume   ticker
0       1998-01-02   0.12   0.14   0.12   0.14  170539824  AAPL.US
1       1998-01-05   0.14   0.14   0.13   0.14  152723900  AAPL.US
2       1998-01-06   0.14   0.17   0.13   0.16  433041952  AAPL.US
3       1998-01-07   0.16   0.16   0.15   0.15  251914152  AAPL.US
4       1998-01-08   0.15   0.16   0.15   0.16  188994988  AAPL.US
5       1998-01-09   0.16   0.17   0.15   0.16  214486244  AAPL.US
6       1998-01-12   0.15   0.16   0.15   0.16  125714764  AAPL.US
7       1998-01-13   0.16   0.17   0.16   0.17  152129936  AAPL.US
8       1998-01-14   0.17   0.17   0.17   0.17  138278308  AAPL.US
9       1998-01-15   0.16   0.17   0.16   0.16  130645452  AAPL.US
...            ...    ...    ...    ...    ...        ...      ...
104535  2024-03-02  93.17  93.18  93.13  93.13      28771  SBUX.US
104536  2024-03-04  93.00  93.32  92.04  92.46    3940058  SBUX.US
104537  2024-03-05  92.46  92.48  91.07  91.21    3899241  SBUX.US
104538  2024-03-06  91.22  92.03  91.12  91.65    2909504  SBUX.US
104539  2024-03-07  91.66  91.74  90.31  90.94    5224457  SBUX.US
104540  2024-03-08  90.95  91.53  90.60  91.07    5115057  SBUX.US
104541  2024-03-09  91.06  91.09  91.05  91.05       4882  SBUX.US
104542  2024-03-11  91.26  92.96  91.17  92.07    3796900  SBUX.US
104543  2024-03-12  92.00  92.72  91.21  92.42    6207319  SBUX.US
104544  2024-03-13  92.55  92.87  90.87  91.59    4772185  SBUX.US

[104545 rows x 7 columns]

In [19]:
client = clickhouse_connect.get_client(host=CLICKHOUSE_CLOUD_HOSTNAME, port=443, user=CLICKHOUSE_CLOUD_USER, password=CLICKHOUSE_CLOUD_PASSWORD,database='default')

# Check if table exists and create if it doesn't
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
    datetime String,
    open Float64,
    high Float64,
    low Float64,
    close Float64,
    volume UInt32,
    ticker String
) ENGINE = MergeTree()
ORDER BY datetime
"""

#client.command(f'DROP TABLE IF EXISTS {TABLE_NAME}')
client.command(create_table_query)
print(client.ping())
print("connected to " + CLICKHOUSE_CLOUD_HOSTNAME + "\n")

True
connected to csi4142-clickhouse.mershab.xyz

In [20]:
print(consolidated_df.dtypes)

datetime     object
open        float64
high        float64
low         float64
close       float64
volume        int64
ticker       object
dtype: object

In [21]:
client.insert_df(TABLE_NAME, consolidated_df)

In [22]:

result_df = client.query(f'SELECT * FROM {TABLE_NAME}')

result_df.summary

{'read_rows': '0',
 'read_bytes': '0',
 'written_rows': '0',
 'written_bytes': '0',
 'total_rows_to_read': '0',
 'result_rows': '0',
 'result_bytes': '0',
 'elapsed_ns': '1406855'}